.card-area{
    width : 70%;
    height :70%;
    border: 3px solid black;
}

.card {
    width :100% ;
    height :100%;
    background-color: gray;
    position: relative;
    backface-visibility: hidden;
    transition: 0.7s;
}

/* 앞면 ,뒷면 */
.card > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    color: white;
}

.card-front{
    background-color: black;
    color: white;
}


.card-back{

    transform: rotateY(180deg);

}

.flip > .card{
    transform: rotateY(180deg);
    
}

main{
    background-color: rgba(0,0,0,0.2);
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8 ,100px);
    grid-auto-rows: 120px;
    place-items: center center;
    place-content: center center;
}

.num{
    width : 100px
}